<nav class="bg-gray-800 text-white p-4">
  <div class="container mx-auto flex items-center justify-between">
    <div class="text-xl font-bold">Capstone</div>
    <div class="flex items-center">
      <div class="space-x-4">
        <a
          routerLink="/home"
          routerLinkActive="text-blue-400"
          class="hover:text-gray-300">
          Home
        </a>
        <a
          routerLink="/home/movies"
          routerLinkActive="text-blue-400"
          class="hover:text-gray-300">
          Movies
        </a>
        <a
          routerLink="/home/actors"
          routerLinkActive="text-blue-400"
          class="hover:text-gray-300">
          Actors
        </a>
      </div>
      <div class="ml-6">
        <app-logout-button></app-logout-button>
      </div>
    </div>
  </div>
</nav>
