# Code quality tools
black==23.3.0
isort==5.12.0
flake8==6.0.0
flake8-docstrings==1.7.0
mypy==1.3.0
pre-commit==3.3.2
types-requests==2.31.0.1

# Testing tools
pytest==7.3.1
pytest-cov==4.1.0
pytest-flask==1.2.0

# Documentation
Sphinx==6.2.1
sphinx-rtd-theme==1.2.1

# Development tools
ipython==8.14.0
ipdb==0.13.13
